In [105]:
import pandas as pd
import numpy as np
import math
from IPython.display import display

In [106]:
# File reading settings

# File to be reading
file = 'ceník Q12.xlsx'

# Sheet Name
sheet_name = '1 KŘ OKNO'

# Which row should be skipped
skiprows = 2

# Till wich row shold program read rows
nrows = 17

# Which columns shoud program read
usecols = 'A:K'

In [107]:
# Read data from file and specific sheet. Read data from a specific range
df = pd.read_excel(file,sheet_name=sheet_name, header = None, skiprows = skiprows, nrows=nrows,  usecols= usecols)
display(df)

      0    1    2    3    4     5     6     7       8       9       10
0    V/Š  600  700  800  900  1000  1100  1200  1300.0  1400.0  1500.0
1    600  250  268  281  296   315   330   347   364.0   381.0   415.0
2    700  262  279  294  310   328   346   367   388.0   406.0   441.0
3    800  278  296  311  325   350   372   394   415.0   435.0   470.0
4    900  294  312  327  348   375   397   421   442.0   462.0   499.0
5   1000  307  325  347  370   398   420   444   468.0   490.0   527.0
6   1100  322  345  367  391   419   444   469   493.0   518.0   555.0
7   1200  337  364  388  412   442   466   494   519.0   542.0   582.0
8   1300  353  381  407  433   464   490   518   545.0   570.0   609.0
9   1400  372  401  428  454   485   512   542   568.0   597.0   636.0
10  1500  389  420  447  476   509   536   567   594.0   623.0   664.0
11  1600  408  441  469  498   532   560   591   622.0   650.0   693.0
12  1700  431  464  495  524   558   589   622   651.0   681.0   725.0
13  1800  457  492  521  553   588   619   653   684.0   714.0     NaN
14  1900  485  521  553  584   623   654   688     NaN     NaN     NaN

In [108]:
#display(df.fillna(''))
df = df.replace([np.nan, 'V/Š'], [0, 0], regex=True)
display(df)

      0    1    2    3    4     5     6     7       8       9       10
0      0  600  700  800  900  1000  1100  1200  1300.0  1400.0  1500.0
1    600  250  268  281  296   315   330   347   364.0   381.0   415.0
2    700  262  279  294  310   328   346   367   388.0   406.0   441.0
3    800  278  296  311  325   350   372   394   415.0   435.0   470.0
4    900  294  312  327  348   375   397   421   442.0   462.0   499.0
5   1000  307  325  347  370   398   420   444   468.0   490.0   527.0
6   1100  322  345  367  391   419   444   469   493.0   518.0   555.0
7   1200  337  364  388  412   442   466   494   519.0   542.0   582.0
8   1300  353  381  407  433   464   490   518   545.0   570.0   609.0
9   1400  372  401  428  454   485   512   542   568.0   597.0   636.0
10  1500  389  420  447  476   509   536   567   594.0   623.0   664.0
11  1600  408  441  469  498   532   560   591   622.0   650.0   693.0
12  1700  431  464  495  524   558   589   622   651.0   681.0   725.0
13  1800  457  492  521  553   588   619   653   684.0   714.0     0.0
14  1900  485  521  553  584   623   654   688     0.0     0.0     0.0

In [109]:
# Počet řádku v tabulce
print(len(df))

15

In [110]:
# Počet sloupců v tabulce
print(len(df.columns))

11

In [111]:
for column in df:
    display(df[column])

0        0
1      600
2      700
3      800
4      900
5     1000
6     1100
7     1200
8     1300
9     1400
10    1500
11    1600
12    1700
13    1800
14    1900
Name: 0, dtype: int64

0     600
1     250
2     262
3     278
4     294
5     307
6     322
7     337
8     353
9     372
10    389
11    408
12    431
13    457
14    485
Name: 1, dtype: int64

0     700
1     268
2     279
3     296
4     312
5     325
6     345
7     364
8     381
9     401
10    420
11    441
12    464
13    492
14    521
Name: 2, dtype: int64

0     800
1     281
2     294
3     311
4     327
5     347
6     367
7     388
8     407
9     428
10    447
11    469
12    495
13    521
14    553
Name: 3, dtype: int64

0     900
1     296
2     310
3     325
4     348
5     370
6     391
7     412
8     433
9     454
10    476
11    498
12    524
13    553
14    584
Name: 4, dtype: int64

0     1000
1      315
2      328
3      350
4      375
5      398
6      419
7      442
8      464
9      485
10     509
11     532
12     558
13     588
14     623
Name: 5, dtype: int64

0     1100
1      330
2      346
3      372
4      397
5      420
6      444
7      466
8      490
9      512
10     536
11     560
12     589
13     619
14     654
Name: 6, dtype: int64

0     1200
1      347
2      367
3      394
4      421
5      444
6      469
7      494
8      518
9      542
10     567
11     591
12     622
13     653
14     688
Name: 7, dtype: int64

0     1300.0
1      364.0
2      388.0
3      415.0
4      442.0
5      468.0
6      493.0
7      519.0
8      545.0
9      568.0
10     594.0
11     622.0
12     651.0
13     684.0
14       0.0
Name: 8, dtype: float64

0     1400.0
1      381.0
2      406.0
3      435.0
4      462.0
5      490.0
6      518.0
7      542.0
8      570.0
9      597.0
10     623.0
11     650.0
12     681.0
13     714.0
14       0.0
Name: 9, dtype: float64

0     1500.0
1      415.0
2      441.0
3      470.0
4      499.0
5      527.0
6      555.0
7      582.0
8      609.0
9      636.0
10     664.0
11     693.0
12     725.0
13       0.0
14       0.0
Name: 10, dtype: float64

In [112]:
df_reverse = df.transpose()
print(df_reverse)

        0      1      2      3      4       5       6       7       8   \
0      0.0  600.0  700.0  800.0  900.0  1000.0  1100.0  1200.0  1300.0
1    600.0  250.0  262.0  278.0  294.0   307.0   322.0   337.0   353.0
2    700.0  268.0  279.0  296.0  312.0   325.0   345.0   364.0   381.0
3    800.0  281.0  294.0  311.0  327.0   347.0   367.0   388.0   407.0
4    900.0  296.0  310.0  325.0  348.0   370.0   391.0   412.0   433.0
5   1000.0  315.0  328.0  350.0  375.0   398.0   419.0   442.0   464.0
6   1100.0  330.0  346.0  372.0  397.0   420.0   444.0   466.0   490.0
7   1200.0  347.0  367.0  394.0  421.0   444.0   469.0   494.0   518.0
8   1300.0  364.0  388.0  415.0  442.0   468.0   493.0   519.0   545.0
9   1400.0  381.0  406.0  435.0  462.0   490.0   518.0   542.0   570.0
10  1500.0  415.0  441.0  470.0  499.0   527.0   555.0   582.0   609.0

        9       10      11      12      13      14
0   1400.0  1500.0  1600.0  1700.0  1800.0  1900.0
1    372.0   389.0   408.0   431.0   457.0   485.0
2    401.0   420.0   441.0   464.0   492.0   521.0
3    428.0   447.0   469.0   495.0   521.0   553.0
4    454.0   476.0   498.0   524.0   553.0   584.0
5    485.0   509.0   532.0   558.0   588.0   623.0
6    512.0   536.0   560.0   589.0   619.0   654.0
7    542.0   567.0   591.0   622.0   653.0   688.0
8    568.0   594.0   622.0   651.0   684.0     0.0
9    597.0   623.0   650.0   681.0   714.0     0.0
10   636.0   664.0   693.0   725.0     0.0     0.0

In [113]:
print(len(df_reverse.columns))

15

In [114]:
print(len(df_reverse))

11

In [115]:
df_list = df.values.tolist()
print(df_list)

[[0.0, 600.0, 700.0, 800.0, 900.0, 1000.0, 1100.0, 1200.0, 1300.0, 1400.0, 1500.0], [600.0, 250.0, 268.0, 281.0, 296.0, 315.0, 330.0, 347.0, 364.0, 381.0, 415.0], [700.0, 262.0, 279.0, 294.0, 310.0, 328.0, 346.0, 367.0, 388.0, 406.0, 441.0], [800.0, 278.0, 296.0, 311.0, 325.0, 350.0, 372.0, 394.0, 415.0, 435.0, 470.0], [900.0, 294.0, 312.0, 327.0, 348.0, 375.0, 397.0, 421.0, 442.0, 462.0, 499.0], [1000.0, 307.0, 325.0, 347.0, 370.0, 398.0, 420.0, 444.0, 468.0, 490.0, 527.0], [1100.0, 322.0, 345.0, 367.0, 391.0, 419.0, 444.0, 469.0, 493.0, 518.0, 555.0], [1200.0, 337.0, 364.0, 388.0, 412.0, 442.0, 466.0, 494.0, 519.0, 542.0, 582.0], [1300.0, 353.0, 381.0, 407.0, 433.0, 464.0, 490.0, 518.0, 545.0, 570.0, 609.0], [1400.0, 372.0, 401.0, 428.0, 454.0, 485.0, 512.0, 542.0, 568.0, 597.0, 636.0], [1500.0, 389.0, 420.0, 447.0, 476.0, 509.0, 536.0, 567.0, 594.0, 623.0, 664.0], [1600.0, 408.0, 441.0, 469.0, 498.0, 532.0, 560.0, 591.0, 622.0, 650.0, 693.0], [1700.0, 431.0, 464.0, 495.0, 524.0, 558.0, 589.0, 622.0, 651.0, 681.0, 725.0], [1800.0, 457.0, 492.0, 521.0, 553.0, 588.0, 619.0, 653.0, 684.0, 714.0, 0.0], [1900.0, 485.0, 521.0, 553.0, 584.0, 623.0, 654.0, 688.0, 0.0, 0.0, 0.0]]

In [120]:
for i in range(len(df_list)):
    print([math.floor(a) for a in df_list[i]])

[0, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500]
[600, 250, 268, 281, 296, 315, 330, 347, 364, 381, 415]
[700, 262, 279, 294, 310, 328, 346, 367, 388, 406, 441]
[800, 278, 296, 311, 325, 350, 372, 394, 415, 435, 470]
[900, 294, 312, 327, 348, 375, 397, 421, 442, 462, 499]
[1000, 307, 325, 347, 370, 398, 420, 444, 468, 490, 527]
[1100, 322, 345, 367, 391, 419, 444, 469, 493, 518, 555]
[1200, 337, 364, 388, 412, 442, 466, 494, 519, 542, 582]
[1300, 353, 381, 407, 433, 464, 490, 518, 545, 570, 609]
[1400, 372, 401, 428, 454, 485, 512, 542, 568, 597, 636]
[1500, 389, 420, 447, 476, 509, 536, 567, 594, 623, 664]
[1600, 408, 441, 469, 498, 532, 560, 591, 622, 650, 693]
[1700, 431, 464, 495, 524, 558, 589, 622, 651, 681, 725]
[1800, 457, 492, 521, 553, 588, 619, 653, 684, 714, 0]
[1900, 485, 521, 553, 584, 623, 654, 688, 0, 0, 0]